actions/valide.dtd

<!DOCTYPE FILMS [<!ELEMENT FILMS (FILM+)>
  <!ELEMENT FILM (TITRE,GENRES,DUREE,DATE,PAYS,REALISATEUR,ACTEURS)>
  <!ELEMENT TITRE (ORIGINAL,FRANCAIS)>
  <!ELEMENT ORIGINAL (#PCDATA)>
  <!ELEMENT FRANCAIS (#PCDATA)>
  <!ELEMENT GENRES (GENRE*)>
  <!ELEMENT GENRE (#PCDATA)>
  <!ELEMENT DUREE (#PCDATA)>
  <!ELEMENT DATE (#PCDATA)>
  <!ELEMENT PAYS (#PCDATA)>
  <!ELEMENT REALISATEUR (#PCDATA)>
  <!ELEMENT ACTEURS (ACTEUR*)>
  <!ELEMENT ACTEUR (#PCDATA)>
]>